
body{
    height: 100vh;
}


.App{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);

height: 80vh;


align-items: center;
justify-content: center;


}
button{
    margin: 10px;
    padding: 8px 16px;
    font-size: 16px
}